body {
    background-color: royalblue;
}

@media only screen and (max-width:600px) {
    body {
        background-color: blueviolet;
    }
}
 
@media only print {
    body {
        background-color: white;
    }
}