<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Hello World!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!--helloworld example
    <div id="helloworld">
        {{ message }}
    </div>
    -->
    <!--conditional example
    <div id="conditional">
        <h2 v-if="visibility">Visiblity Sample</h2>
    </div>
    -->
    <!--
    <div id="loop">
        <ol>
            <li v-for="pilot in pilots"> {{ pilot.name }} {{ pilot.surname}} </li>
        </ol>
    </div>
    -->
    <!--attribute bind
    <div id="attribute_bind">
        <p v-bind:title="message">
            Hover your mouse on me
        </p>
    </div>
    -->
    <!--event bind
    <div id="event_bind">
        <h2>{{teamName}}</h2>
        <button v-on:click="reverseName">Click and Reverse Name</button>
    </div>
    -->
    <script src="main.js"></script>
</body>
</html>