div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; 
    transition: width 2s;
}

div:hover {
    width: 300px;
}

/*
div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s, height 4s;
    transition: width 2s, height 4s;
}

div:hover {
    width: 300px;
    height: 300px;
}
*/

/*

div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; 
    transition: width 2s;
}


#div1 {-webkit-transition-timing-function: linear;}
#div2 {-webkit-transition-timing-function: ease;}
#div3 {-webkit-transition-timing-function: ease-in;}
#div4 {-webkit-transition-timing-function: ease-out;}
#div5 {-webkit-transition-timing-function: ease-in-out;}


#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

div:hover {
    width: 300px;
}
*/
