:root {
    --main-bg-color: coral;
    --secondary-bg-color: royalblue;    
}

#div1 {
    background-color: var(--main-bg-color);
    padding: 5px;    
}

#div2 {
    background-color: var(--secondary-bg-color);
    padding: 5px;
}

#div3 {
    background-color: var(--main-bg-color);
    padding: 5px;
}